<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"></link>
    <link rel="stylesheet" href="css/bootstrap-theme.css"></link>
    <link rel="stylesheet" href="css/custombootstrap.css"></link>

    <script src="js/bootstrap.js"></script>

    <script src="js/angular-ui-router.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/jsCommon.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/filters.js"></script>
    <script src="app/services.js"></script>
    <script src="app/services/clientService.js"></script>
    <script src="app/services/configService.js"></script>
    <script src="app/directives/dragDirective.js"></script>
    <script src="app/filters/dateFilter.js"></script>
    <script src="app/filters/imgFilter.js"></script>
    <script src="app/app.js"></script>
    <script src="app/modules/homeModule.js"></script>
    <script src="app/modules/homeService.js"></script>
    <script src="app/modules/userModule.js"></script>
    <script src="app/modules/homeController.js"></script>
    <script src="app/modules/introController.js"></script>
    <script src="app/modules/infoController.js"></script>
    <script src="app/modules/publicServiceController.js"></script>
    <script src="app/modules/documentController.js"></script>
    <script src="app/modules/authenticationController.js"></script>
    <script src="app/controller/menuController.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/custommenu.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!--<script src="http://192.168.1.109:8080/target/target-script-min.js#anonymous"></script>-->
    <!--<script src="node_modules/angular-animate/angular-animate.js"></script>-->
    <style>

    </style>
</head>

<body ng-app="mainApp">
    <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
        <div class="container-fluid" ng-controller="indexController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-show="isLogin">{{brandName}}</a>
                <a class="navbar-brand" ng-click="open()" ng-show="!isLogin">Đăng nhập</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home" class="click"><strong>Trang chủ</strong></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Giới thiệu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="click" ui-sref="generalIntro">Giới thiệu chung</a></li>
                            <li><a class="click" ui-sref="historyIntro">Lịch sử phát triển</a></li>
                            <li><a class="click" ui-sref="featureIntro">Chức năng & Nhiệm vụ</a></li>
                            <li><a class="click" ui-sref="directIntro">Định hướng phát triển</a></li>
                            <li><a class="click" ui-sref="constructIntro">Cơ cấu phát triển</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tin tức <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="click" ui-sref="activityInfo">Tin hoạt động</a></li>
                            <li><a class="click" ui-sref="eventInfo">Tin vắn, tin sự kiện</a></li>
                            <li><a class="click" ui-sref="bussinessInfo">Bản tin nghiệp vụ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Văn Bản <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="click" ui-sref="document">Văn bản mới</a></li>
                            <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanLuat}}', src:''})">Văn bản luật</a></li>
                            <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanChinhPhu}}', src:''})">Văn bản chính phủ</a></li>
                            <li class="dropdown-submenu">
                                <a class="trigger right-ca">Văn bản, Bộ ngành<span class="caret"></span></a>
                                <ul class="dropdown-menu sub-menu">
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src: '{{config.srcDocument.boTaiChinh}}'})">Bộ Tài chính</a></li>
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src:'{{config.srcDocument.boKeHoachDauTu}}'})">Bộ Kế hoạch đầu tư</a></li>
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src:'{{config.srcDocument.boCongThuong}}'})">Bộ Công thương</a></li>
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src:'{{config.srcDocument.boYTe}}'})">Bộ Y tế</a></li>
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src:'{{config.srcDocument.boGiaoThongVanTai}}'})">Bộ GTVT</a></li>
                                    <li><a class="click" ui-sref="detailDocument({type: '{{config.typeDocument.vanBanBoNganh}}', src:'{{config.srcDocument.boNongNghiepPTNT}}'})">Bộ Nông nghiệp và Phát triển nông thôn</a></li>
                                    <li><a href="#">Bộ ngành khác</a></li>
                                </ul>
                            </li>
                            <li><a class="click" href="#">Văn bản TCHQ</a></li>
                            <li><a class="click" href="#">Văn bản HQBD</a></li>
                            <li><a class="click" href="#">Thời hiệu văn bản</a></li>
                            <li><a class="click" href="#">Văn bản hết hiệu lực</a></li>
                            <li class="dropdown-submenu">
                                <a class="trigger right-ca">Lĩnh vực<span class="caret"></span></a>
                                <ul class="dropdown-menu sub-menu">
                                    <li><a class="click" href="#">Thủ tục hải quản</a></li>
                                    <li><a class="click" href="#">Thuế Hải quan</a></li>
                                    <li><a class="click" href="#">Xử phạt VPHC</a></li>
                                    <li><a class="click" href="#">Khác</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dịch vụ công<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="click" ui-sref="publicService">Dịch vụ công</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="text-right" ng-show="isLogin">
                    <button type="button" ng-click="logOut()" class="btn btn-danger click">Đăng xuất</button>
                </p>

            </div>

        </div>
    </nav>



    <div class="container-fluid">
        <div ui-view></div>
    </div>


</body>

</html>