<h4>
          {{data[0].Tieude}}
      </h4>
<hr>
<div class="row" ng-repeat="item in data">
    <div class="col-sm-4">
        <a ui-sref="detailInfo({id: item.ID})" class=""><img src="{{item.AnhDaiDien | imgUrlFilter}}" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
        <h5 class="title"><a ui-sref="detailInfo({id: item.ID})" >{{item.Title}}</a></h5>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{item.NgayViet | jsDate | date:'medium'}}</p>
        <p class="text-muted">Người viết <a>{{item.TacGia}}</a></p>
    </div>
    <hr>
</div>