<div ng-repeat="item in data">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
      </h4>
        </div>
        <div class="collapse" id="collapse_{{item.ID}}">
            <div class="well">
                <div ng-repeat="firstItem in item.VanBan" class="alert alert-success">
                    <Strong>STT: {{$index+1}}</Strong>
                    <hr>
                    <Br> Số công văn: {{firstItem.Title}}
                    <Br> Ngày ban hành: {{firstItem.NgayBanHanh | jsDate | date: 'MM/dd/yyyy'}}
                    <Br> Nội dụng mô tả:
                    <p ng-bind-html='firstItem.MoTa'></p>
                </div>

            </div>
        </div>
    </div>
</div>