<div ng-repeat="item in data">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
      </h4>
        </div>
        <div class="collapse" id="collapse_{{item.ID}}">
            <div class="well">
                <div ng-repeat="firstItem in item.VanBan">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="row">
                                    <th  class="col-xs-3">Số công văn</th>
                                    <th  class="col-xs-3">Ngày ban hành</th>
                                    <th  class="col-xs-6">Nội dung mô tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row">
                                    <td class="col-xs-3">{{firstItem.Title}}</td>
                                    <td class="col-xs-3">{{firstItem.NgayBanHanh | jsDate | date: 'MM/dd/yyyy'}}</td>
                                    <td class="col-xs-6" ng-bind-html="firstItem.MoTa"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>