<!--<div ng-repeat="item in data">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
      </h4>
        </div>
        <div class="collapse" id="collapse_{{item.ID}}">
            <div class="well">
                <p ng-bind-html="item.NoiDung"></p>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>

    </div>
</div>-->
<div class="list-group">
    <a href="#" class="list-group-item active">Chức năng & Nhiệm vụ</a>
    <div class="list-group-item" ng-repeat="item in data">
        <h4 class="list-group-item-heading">
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
					</h4>
        <p class="list-group-item-text">
            <div class="collapse" id="collapse_{{item.ID}}">
                <div>
                    <p ng-bind-html="item.NoiDung"></p>
                </div>
            </div>
        </p>
    </div>

    <!--</div>
<div class="panel-footer">
<hr>
</div>
</div>-->