<h4>
          Danh sách hồ sơ
      </h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" ng-model="filtered.KeyWord" class="form-control" placeholder="Từ khóa">

            <select class="form-control" ng-model="filtered.Data.DichVu.LookupId" ng-options="opt.Value as opt.Text for opt in tempData.listDVC"
            name="id">
                <option label="Chọn dịch vụ công">--</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="input-group-btn">
            <button ng-click="search()" class="btn btn-default">Tìm kiếm</button>
        </div>
    </div>
</div>
<div ng-repeat="item in data">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
      </h4>
        </div>
        <div class="collapse" id="collapse_{{item.ID}}">
            <div class="well">
                Mã hồ sơ: {{item.MaHoSo}}
                <Br> Dịch vụ: {{item.DichVu.LookupValue}}
                <Br> Ngày Đăng ký : {{item.NgayDk.LookupValue | date:'MM/dd/yyyy'}}
                <Br> Ngay Gửi: {{item.NgayGui | jsDate | date:'MM/dd/yyyy'}}
                <Br> Trạng thái: {{item.TrangThaiDangKyDV.LookupValue}}
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pager">
        <li><a ng-click="setPageDown()">Sau</a></li>
        <li class="active"><a>{{page.CurrentPage}} <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="setPageUp()">Trước</a></li>
    </ul>
</nav>