<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><a ng-click="search()">Tìm kiếm</a></span>
                        <input type="text" ng-model="filtered.KeyWord" class="form-control" placeholder="Từ khóa">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Chọn dịch vụ công</span>
                        <select class="form-control" ng-model="filtered.Data.DichVu.LookupId" ng-options="opt.Value as opt.Text for opt in tempData.listDVC"
                        name="id">
                            <option label="Chọn dịch vụ công">--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="list-group">
    <a href="#" class="list-group-item active">Danh sách hồ sơ</a>
    <div class="list-group-item" ng-repeat="item in data">
        <h4 class="list-group-item-heading">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    <a role="button" data-toggle="collapse" data-target="#collapse_{{item.ID}}" aria-expanded="false" aria-controls="collapse_{{item.ID}}">
                {{item.Title}}
    </a>
					</h4>
        <p class="list-group-item-text">
            <div class="collapse" id="collapse_{{item.ID}}">
                <div>
                    <span class="label label-primary">Mã hồ sơ</span>: {{item.MaHoSo}}
                    <Br><span class="label label-primary">Dịch vụ</span>: {{item.DichVu.LookupValue}}
                    <Br><span class="label label-primary">Ngày Đăng ký</span>: {{item.NgayDk.LookupValue | date:'MM/dd/yyyy'}}
                    <Br><span class="label label-primary">Ngày gửi</span>: {{item.NgayGui | jsDate | date:'MM/dd/yyyy'}}
                    <Br><span class="label label-primary">Trạng thái</span>: {{item.TrangThaiDangKyDV.LookupValue}}
                </div>
            </div>
        </p>
    </div>

</div>
<div class="panel-footer">
    <nav>
        <ul class="pager">
            <li><a ng-click="setPageDown()">Sau</a></li>
            <li class="active"><a>{{page.CurrentPage}} <span class="sr-only">(current)</span></a></li>
            <li><a ng-click="setPageUp()">Trước</a></li>
        </ul>
    </nav>
</div>
</div>